<div class="flex flex-col w-full my-8 px-4 md:px-0">
  <div class="text-3xl mb-2 md:text-5xl md:mb-0 relative flex">
    <span class="md:absolute md:-ml-16 mr-4">🤖</span>
    <h1>Code Tutorials</h1>
  </div>
  <p class="text-lg leading-tight md:leading-normal">
    List of guides I have made on how to do different things in Rails.
  </p>
</div>
<div class="flex flex-col w-full my-8 px-4 md:px-0">
  <% @code_tutorials.each do |code_tutorial| %>
    <%= link_to code_tutorial do %>
      <div class="Card">
        <h2 class="text-xl"><%= code_tutorial.name %></h2>
        <p class="text-sm text-gray-500"><%= code_tutorial.published_at.strftime("%B %e, %Y") %></p>
        <%= code_tutorial.preview %>
      </div>
    <% end %>
  <% end %>
</div>
