<div class="flex bg-gray-800 text-gray-200 justify-center items-center px-4 py-2">
  <div class="flex justify-center max-w-xl w-full">
    <%= link_to "ðŸ  Home", root_path, class: "py-2 px-4 hover:bg-gray-700 cursor-pointer" %>
    <%= link_to "ðŸ’¾ Products", product_reviews_path, class: "py-2 px-4 hover:bg-gray-700 cursor-pointer" %>
    <div class="py-2 px-4 hover:bg-gray-700 cursor-pointer">
      ðŸ¤– Code
    </div>
    <%= link_to "ðŸ“š Articles", articles_path, class: "py-2 px-4 hover:bg-gray-700 cursor-pointer" %>
  </div>
</div>
